@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap')
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.712);
  font-size: 20px;
  padding: 5px 10px;
  color: black;
  font-weight: bold;
  margin-right: 5px;
  color: white;
}
@media screen and (max-width: 375px) {
  
  #cardimg {
      width: 150px !important;
      height: auto !important;
  }
}
